/* header {} */

* {
    font-family: 'Work Sans', sans-serif;
}

.dark {
    background-color: #2a2a2a;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

.highlight {
    color: #BAD435;
}

h2 {
    text-transform: uppercase;
}

h2 .highlight {
    display: block;
}

section,
header {
    padding-bottom: 50px;
    padding-top: 50px;
}

.map {
    min-height: 400px;
}

a:hover {
    color: #BAD435;
    text-decoration: none;
}

nav .col {
    text-align: right;
}

nav a {
    color: white;
}


/* resize images for bio base on screen size */


/* Extra small devices (phones, less than 768px) */


/* No media query since this is the default in Bootstrap */

.bio {
    /* display: flex; */
    align-items: center;
}

.bio h3 {
    border-bottom: solid 1px #BAD435;
}

.bio img {
    width: 70px;
    height: 70px;
}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .bio img {
        width: 100px;
        height: 100px;
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .bio img {
        width: 200px;
        height: 200px;
    }
}

7
/* Large devices (large desktops, 1200px and up) 

@media (min-width: 1200px) {
    ...
}
*/